/pearson_result
/blur_result
.idea
*.o
*.d
*.opt.d
*.out
*.args.0
*.s
*.ltrans_args
*.res
*.ii
blur/blur
blur/verify
blur/blur_par
pearson/pearson
pearson/verify
pearson/pearson_par
pearson/optimization3/*.o
pearson/optimization3/*.d
pearson/optimization3/*.opt.d